.rrConnector {
    fill: none;
    stroke: #222222;
}

.rrRule {
    fill: #d3f0ff;
    fill: rgb(233 236 239) !important;
    stroke: #222222;
}

.rrRuleText {
    fill: #000000;
    font-family: Arial, Sans-serif;
    font-size: 12px;
}

.rrLiteral {
    fill: #90d9ff;
    fill: rgb(162 228 54) !important;
    stroke: #222222;
}

.rrLiteralText {
    fill: #000000;
    font-family: Arial, Sans-serif;
    font-size: 12px;
}

.rrSpecialSequence {
    fill: #e4f4ff;
    fill: rgb(248 249 250) !important;
    stroke: #222222;
}

.rrSpecialSequenceText {
    fill: #000000;
    font-family: Arial, Sans-serif;
    font-size: 12px;
}

.rrLoopCardinalities {
    fill: #000000;
    font-family: Arial, Sans-serif;
    font-size: 10px;
}

/* --- Adjust placement of text --- */
.rrLiteralText,
.rrRuleText {
    transform: translateY(4px);
}